# Main buildout configuration file.

[buildout]
extensions = buildout-versions
versions = versions
parts =
    slides-builder
    readme-builder
# Configure directories: put buildout generated files in lib/buildout instead
# of in current directory.
bin-directory = bin
develop-eggs-directory = lib/buildout/develop-eggs
downloads-directory = lib/buildout/downloads
eggs-directory = lib/buildout/eggs
installed = lib/buildout/.installed.cfg
parts-directory = lib/buildout/parts

[slides-builder]
recipe = z3c.recipe.scripts
eggs = landslide

[readme-builder]
recipe = z3c.recipe.scripts
eggs = zc.rst2

[versions]
zc.buildout = 1.5.2
distribute = 0.6.27
buildout-versions = 1.7
z3c.recipe.scripts = 1.0.1
landslide = 1.0.1
zc.rst2 = 0.2

# Required by:
# z3c.recipe.scripts==1.0.1
zc.recipe.egg = 1.3.2

# Required by:
# landslide==1.0.1
Jinja2 = 2.6
Markdown = 2.1.1

# Required by:
# zc.rst2==0.2
docutils = 0.9
